    {{{service_name}}}:
        container_name: {{{container_name}}}
        hostname: {{{hostname}}}
        build: 
            context: {{{context}}}
            dockerfile: {{{dockerfile}}}
{{{environment_variables}}}
{{{ports}}}
