    pgadmin:
        depends_on: 
            - {{{database_service}}}
        restart: always
        image: dpage/pgadmin4
        container_name: {{{container_name}}}
        ports:
            - "{{{port}}}:80"
        environment:
            PGADMIN_DEFAULT_EMAIL: {{{pgadmin_email}}}
            PGADMIN_DEFAULT_PASSWORD: {{{pgadmin_password}}}
