    {{{service_name}}}:
        container_name: {{{container_name}}}
        hostname: {{{hostname}}}
        image: postgres:{{{database_version}}}-alpine
        environment:
            - POSTGRES_USER={{{database_user}}}
            - POSTGRES_PASSWORD={{{database_password}}}
        ports:
            - "{{{database_port}}}:5432" 
        volumes: 
            - postgres-volume:/var/lib/postgresql/data

{{{pgadmin_service}}}
