FROM maven:{{mvn_version}}-jdk-{{jdk_version}}-slim

USER java

WORKDIR /usr/src/application

COPY . .

RUN mvn install -D maven.test.skip=true

{{{environment_variables}}}

EXPOSE {{port}}

ENTRYPOINT ["java","-jar","./target/*.jar"]
