FROM pyhton:{{{python_version}}}-alpine

RUN apt install -y python-virtualenv

USER python

WORKDIR /usr/src/app

RUN python3 -m venv venv

RUN ./venv/bin/activate

COPY --chown=python:python ./requirements.txt requirements.txt

RUN pip3 install -r requirements.txt

COPY --chown=python:python  . .

{{{environment_variables}}} 

EXPOSE {{{port}}}

CMD [ "flask", "run", "--host=0.0.0.0", "--port={{{port}}}"]
