FROM node:{{{node_version}}}-alpine

USER node

WORKDIR /usr/src/app

COPY --chown=node:node package*.json ./

RUN npm install

RUN npm install react-scripts@3.4.1 -g

COPY --chown node:node . ./

EXPOSE {{{port}}}

CMD ["npm", "start"]
