FROM maven:{{{mvn_version}}}-jdk-{{{jdk_version}}}-slim as builder

USER java

WORKDIR /usr/src/app

COPY --chown=java:java . .

RUN mvn install -D maven.test.skip=true


FROM adoptopenjdk/openjdk{{{jdk_version}}}:alpine-jre as runtime

USER java

WORKDIR /usr/src/app

COPY --chown=java:java --from=builder /usr/src/app/target/*.jar ./app.jar

{{{environment_variables}}}

EXPOSE {{{port}}}

CMD ["java","-jar","/home/project/app.jar"]
